<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button id="toolbar-titre" mat-button routerLink="">SmartHome</button>
    <span class="toolbar-spacer"></span>
    <button class="toolbar-button" routerLink="../statistiques" mat-raised-button [style.display]="authService.isAuth ? 'block' : 'none'">Statistiques</button>
    <button class="toolbar-button" (click)="connexionOrDeconnxion()" mat-raised-button>{{typeConnexion}}</button>
    <div [style.display]="authService.isAuth ? 'block' : 'none'">
      <mat-icon class="toolbar-icon" [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item >Supervision</button>
        <button mat-menu-item>Gestion des règles</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
