<app-toolbar-menu></app-toolbar-menu>

<mat-card>
  <div class="allLight">
    Tous
    <mat-slide-toggle class="LightComponent" ([checked])="checkedAllLampes" [(ngModel)]="checkedAllLampes" (change)="changeSlideToggleAll()">
    </mat-slide-toggle>
    <button class="LightComponent" mat-raised-button [style.background]="allLampes.color" [cpOutputFormat]='hex' [cpAlphaChannel]='disable' [(colorPicker)]="allLampes.color" (colorPickerClose)="changeColorAll()">
      <mat-icon>colorize</mat-icon>
    </button>
    <mat-slider class="LightComponent"
                thumbLabel
                tickInterval="1"
                [(ngModel)]="allLampes.intensity"
                value={{allLampes.intensity}}
                (change)="changeSliderAll()">
    </mat-slider>
  </div>
</mat-card>

<mat-card>
  <mat-accordion class="matAccordionLight">
    <mat-expansion-panel *ngFor="let p of lampes; let i=index;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div>
            <mat-form-field>
              <input matInput [(ngModel)]="p.name" [value]="p.name" (change)="notifyChange(p.id)">
            </mat-form-field>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          <mat-form-field>
            <input matInput [(ngModel)]="p.piece" [value]="p.piece" (change)="notifyChange(p.id)">
          </mat-form-field>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-slide-toggle class="LightComponent" ([checked])="checkedLamp[p.id.toString()]" [(ngModel)]="checkedLamp[p.id.toString()]" (change)="changeSlideToggleLamp(p)">
      </mat-slide-toggle>
      <button class="LightComponent" mat-raised-button [style.background]="p.color" [cpOutputFormat]='hex' [cpAlphaChannel]='disable' [(colorPicker)]="p.color" (colorPickerClose)="notifyChange(p.id)">
        <mat-icon>colorize</mat-icon>
      </button>
      <mat-slider class="LightComponent"
                  thumbLabel
                  tickInterval="1"
                  [(ngModel)]="p.intensity"
                  value={{p.intensity}}
                  (change)="changeSlideLamp(p)">
      </mat-slider>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>

<mat-card>
  <div class="allLight">
    Tous
    <mat-slide-toggle class="LightComponent" ([checked])="checkedAllLampes" [(ngModel)]="checkedAllLampes" (change)="changeSlideToggleAll()">
    </mat-slide-toggle>
    <button class="LightComponent" mat-raised-button [style.background]="allLampes.color" [cpOutputFormat]='hex' [cpAlphaChannel]='disable' [(colorPicker)]="allLampes.color" (colorPickerClose)="changeColorAll()">
      <mat-icon>colorize</mat-icon>
    </button>
    <mat-slider class="LightComponent"
                thumbLabel
                tickInterval="1"
                [(ngModel)]="allLampes.intensity"
                value={{allLampes.intensity}}
                (change)="changeSliderAll()">
    </mat-slider>
  </div>
</mat-card>



