mat-slider {
  width: 300px;
}

.allButtonHaut {
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.allButtonBas {
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.LightComponent {
  margin-left: 1em;
  margin-right: 1em;
}


.allLight {
  margin-left: 1em;
  margin-right: 1em;
}

.Footer {
  postion: fixed;
  bottom: 0;
}

.Component { display: flex; flex-direction: column;}
.Main { flex-grow: 1; flex-basis: 0; overflow-y: auto;}
