<app-toolbar-menu></app-toolbar-menu>

<div class="md-padding" layout="column" layout-fill>
  <div *ngFor="let p of dataService.AllLampes; let i=index;">
    <mat-card>
      <mat-card-content>
        <mat-slide-toggle class="LightComponent" ([checked])="dataService.checkedLamp[p.id.toString()]" [(ngModel)]="dataService.checkedLamp[p.id.toString()]" (change)="changeSlideToggleLamp(p)">
        </mat-slide-toggle>
        <mat-form-field>
          <input matInput (keydown)="onKeydown($event, p.id)" [(ngModel)]="p.name" [value]="p.name" (change)="notifyChange(p.id)">
        </mat-form-field>
        <mat-form-field>
          <input matInput (keydown)="onKeydown($event, p.id)" [(ngModel)]="p.piece" [value]="p.piece" (change)="notifyChange(p.id)">
        </mat-form-field>
        <button class="LightComponent" mat-raised-button [style.background]="p.color" [cpOutputFormat]='hex' [cpAlphaChannel]='disable' [(colorPicker)]="p.color" (colorPickerClose)="notifyChange(p.id)">
          <mat-icon>colorize</mat-icon>
        </button>
        <mat-slider class="LightComponent"
                    thumbLabel
                    tickInterval="1"
                    [(ngModel)]="p.intensity"
                    value={{p.intensity}}
                    (change)="changeSlideLamp(p)">
        </mat-slider>

      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
  </div>

  <footer layout="row" class="md-padding">
    <mat-toolbar color="background">
      <mat-toolbar-row>
          <div class="allLight row">
            <div class="col-md-3">
            Tous
            <mat-slide-toggle class="LightComponent" ([checked])="dataService.checkedAllLampes" [(ngModel)]="dataService.checkedAllLampes" (change)="changeSlideToggleAll()">
            </mat-slide-toggle>
            <button class="LightComponent" mat-raised-button [style.background]="dataService.AllLampe.color" [cpOutputFormat]='hex' [cpAlphaChannel]='disable' [(colorPicker)]="dataService.AllLampe.color" (colorPickerClose)="changeColorAll()">
              <mat-icon>colorize</mat-icon>
            </button>
          </div>
        <div class="col-md-3">
          <mat-slider class="LightComponent"
                      thumbLabel
                      tickInterval="1"
                      [(ngModel)]="dataService.AllLampe.intensity"
                      value={{allLampes.intensity}}
                      (change)="changeSliderAll()">
          </mat-slider>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</div>

