
<div fxLayout="row" fxLayoutAlign="center center" style="height: 100vh;">
  <mat-card class="example-card" [style.display]="!showSpinner ? 'block' : 'none'">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>

          <button mat-raised-button (click)="login()" color="primary">Login</button> 
      </form>
    </mat-card-content>
    
  </mat-card>

  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</div>




