<div class="container" id="home">
    <mat-card class="home-group">
      <mat-card-header>
        <mat-icon class="toolbar-icon">info</mat-icon>
        Information
      </mat-card-header>
      <div class="row">
        <div class="col-md-3">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Température Intérieure</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="home-indicators">
                25,5°
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-3">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Température Extérieure</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="home-indicators">
                14°
              </p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-3">
          <a  routerLink="/objectsConnectes">
            <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Nombres d'objets connectés</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p class="home-indicators">
                  28
                </p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>

        <div class="col-md-3">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Consommation</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="home-indicators">
                152 KwH
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card>

  <mat-card class="home-group" [style.display]="authService.isAuth ? 'block' : 'none'">
    <mat-card-header>
      <mat-icon class="toolbar-icon">highlight</mat-icon>
      Catégorie
    </mat-card-header>
    <div class="row" >
      <div class="col-md-3" >
        <a  routerLink="/lampe">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Lampes</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p class="home-indicators">
                {{dataService.nbLampes}}
              </p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>

      <div class="col-md-3">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Volets</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="home-indicators">
              14°
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-3">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Chauffage</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="home-indicators">
              28
            </p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-3">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Electroménager</mat-card-title>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button>Gérer</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
